<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
    <link rel="stylesheet" href="style.css">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title>GobStones Library Manager</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    
</head>

<body>
    <div class="container" id="contenedor-principal">
        <h3 class="center-align blue-text">Administrador de biblioteca de Gobstones</h3>
        <main>
            <div class="row" id="fila-encabezados">
                <header class="col s5">
                    <h6 class="center-align">Elementos de la biblioteca</h6>
                </header>
                <header class="col s7">
                    <h6 class="center-align">Codigo del elemento seleccionado</h6>
                </header>
            </div>
            <div class="row" id="second-row">
                <div class="col s5" id="contenedor-nombres-elementos">
                    <ul class="tabs" id="element-type-tabs">
                        <li class="tab col s3 active"><a href="#todos">Todos</a></li>
                        <li class="tab col s3"><a href="#types">Types</a></li>
                        <li class="tab col s3"><a href="#procedures">Procedures</a></li>
                        <li class="tab col s3"><a href="#functions">Functions</a></li>
                    </ul>
                    <ul class="collection library-element-selector" id="todos">
                        
                    </ul>
                    <ul class="collection library-element-selector" id="types">
                        <a onclick="show_library_entry(this)" class="collection-item nombre-elemento" v-for="i of types">
                            Type {{i}}
                        </a>

                    </ul>
                    <ul class="collection library-element-selector" id="procedures">
                        <a onclick="show_library_entry(this)" class="collection-item nombre-elemento" v-for="i of procedures">
                            Procedure {{i}}
                        </a>

                    </ul>
                    <ul class="collection library-element-selector" id="functions">
                        <a onclick="show_library_entry(this)" class="collection-item nombre-elemento" v-for="i of functions">
                            Function {{i}}
                        </a>

                    </ul>
                </div>
                <div class="col s7" id="contenedor-codigo">
                    <pre id="codigo">Aca va el codigo</pre>
                </div>
            </div>
        </main>
        <div id="contenedor-botones">
            <a class="waves-effect waves-light btn s3">Añadir desde archivo</a>
            <a class="waves-effect waves-light btn s3">Exportar a .gbs</a>
            <a href="" class="waves-effect waves-light btn s3">Guardar cambios a biblioteca</a>
        </div>
    </div>
        

    <script type="text/javascript" src="/eel.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="index.js"> </script>
</body>

</html>