:root {
    --thick-border: 2px solid #e0e0e0;
    --thin-border: 1px solid #e0e0e0;
}

body, html {
    margin: 0;
    height: 100%;
}

input[type="file"] {
    display: none;
}
/* Borders */
main > .row {
    border: var(--thick-border);
    border-bottom: 0;
}

main > :last-child {
    border-bottom: var(--thick-border);
}

.row > .col {
    border-right: var(--thick-border);
}

.row > :last-child {
    border-right: none;
}


#entry-name-container{
    padding: 0;
}


#code-container {
    padding-right: 0;
}

#main-container {
    padding: 1rem 0;
    width: 100%;
    height: 100%;
}

.collection, #library-entry-code {
    height: 70vh;
    width: auto;
    overflow-y: auto;
}
.collection {
    border: 0;
    margin: 0;
    word-break: break-all;
}

.collection .collection-item {
    padding: 5px 10px;
}

.collection-item:hover {
    cursor: pointer;
}

#fila-encabezados {
    margin-bottom: 0;
}

#contenedor-botones {
    display: flex;
    justify-content: space-evenly;
}

.library-elements-selector {
    margin: none;
}

/* Materialize Tabs styles */
.tabs {
    height: 24px;
    border-bottom: var(--thin-border);
}

.tabs .tab {
    height: 24px;
    line-height: 24px;
}
.tabs .tab a {
    font-size: 10px;
    padding: 0px 6px;

}

/* Alert styles */
.alert .card-content span {
    font-weight: bold;
    font-size: 1.1em;
    margin-right: 4px;
}
.alert .card-content .material-icons {
    font-size: 1.5em;
    position: relative;
    top: 5px;
    margin-right: 0.5em;
}
